

html{
	font-size:0.875rem;
	font-family: Verdana, sans-serif;
}
h1,ul,li,a,nav,div,span,body,html{
	margin:0;
	padding:0;
}

body{
	background: #ededed;
}
.font-deco{
	color:#fff;
      text-transform: uppercase;
}
.header{
	background: #ffc107;
	height:100vh;
	position:relative;
	width: 91.6666%;
}

.header a{
     color:#fff;
}

@keyframes header-w-large-ani{
	0%{width:91.9666%;
		
	}
	100%{
		width:16.6666%;
	}
}

.header-w-large{
	position:absolute;
	animation:header-w-large-ani .8s forwards ease-in-out;
}

@keyframes header-w-small-ani{
	0%{
		width:16.6666%;
	}
	100%{
		width:91.9666%;
	}
}

.header-w-small{
	position:absolute;
	animation:header-w-small-ani .8s forwards ease-in-out;
}


.logo{
	font-size:1.875rem;
	margin-left:1rem;
	margin-top:1.5rem;
	padding:0.3125rem;
	line-height:1.6rem;
	border: 2px solid #fff;
	display:inline-block;
	box-sizing: border-box;
	font-weight: 700;
}

.logo span{
	display:none;
}

.logo:hover span{
	display:inline-block;
	
}

.header ul{
	list-style: none;
	position:absolute;
	top:20%;
	left:1rem;
	right:0;
}
.header nav li{
	margin-top: 21px;
}


.header nav ul li a{
	text-decoration: none;
	position:relative;
	color:#fff;
	display:inline-block;
	 padding: .5em  0;
	font-weight: 700;
     border-bottom:0;
}

.header nav ul li a::after{
	content:' ';
      position:absolute;
	top: 85%;
	right: 90%;
	bottom: 0;
	left:0;
	background: #ededed;
	transition: all 0.4s;
}

.header nav ul li a:hover::after{
	right:0%;
}



.title{
	font-size:3.75rem;
	position:absolute;
	right:3.5em;
	top:6.5em;
	cursor:pointer;
}

.title-hidden{
	display:none;
}

/*.title div{
  float:right;
}*/

/*@media only screen and (min-width: 768px) {

	.header ul{
		top:0;
		right:0;
	}
}*/


/*ohnayea*/
@keyframes ani-1-o{
	0%{
		transform:translate(0,0);
	}
	30%{
		transform: translate(-120px,2px) rotate(-30deg);
	}

	70%{
		transform: translate(-120px,2px) rotate(-30deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-o{
	position:absolute;
	animation:ani-1-o 2s forwards ease-in-out;
	top:0;
	left:0;
	
}

@keyframes ani-1-h{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-120px,-40px) rotate(-30deg);
	}
	70%{
		transform: translate(-120px,-40px) rotate(-30deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-h{
	animation:ani-1-h 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:15%;
}

@keyframes ani-1-{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-100px,-43px) rotate(12deg);
	}
	70%{
		transform: translate(-100px,-43px) rotate(12deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-{
	animation:ani-1- 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:30%;
}

@keyframes ani-1-n{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-110px,-32px) rotate(12deg);
	}
	70%{
		transform: translate(-110px,-32px) rotate(12deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-n{
	animation:ani-1-n 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:45%;
}

@keyframes ani-1-a-1{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-100px,-24px) rotate(-80deg);
	}
	70%{
		transform: translate(-100px,-24px) rotate(-80deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-a-1{
	animation:ani-1-a-1 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:60%;
}

@keyframes ani-1-y{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-103px,-55px) rotate(-40deg);
	}
	70%{
		transform: translate(-103px,-55px) rotate(-40deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}
.char-1-y{
	animation:ani-1-y 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:75%;
}

@keyframes ani-1-e{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-110px,-79px) rotate(0deg);
	}
	70%{
		transform: translate(-110px,-79px) rotate(0deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-e{
	animation:ani-1-e 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:88%;
}

@keyframes ani-1-a-2{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-81px,-77px) rotate(50deg);
	}
	70%{
		transform: translate(-81px,-77px) rotate(50deg);
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-1-a-2{
	animation:ani-1-a-2 2s forwards ease-in-out;
	position:absolute;
	top:0;
	left:100%;
}


/*frontend*/

@keyframes ani-2-f{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-135px,-3px) rotate(-20deg);
	}
	70%{
		transform: translate(-135px,-3px) rotate(-20deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-f{
	position:absolute;
	animation:ani-2-f 2s forwards ease-in-out;
	top:0;
	left:0;
	
}

@keyframes ani-2-r{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-180px,50px) rotate(30deg);
	}
	70%{
		transform: translate(-180px,50px) rotate(30deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-r{
	position:absolute;
	animation:ani-2-r 2s forwards ease-in-out;
	top:0;
	left:12%;
	
}

@keyframes ani-2-o{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-200px,95px) rotate(30deg);
	}
	70%{
		transform: translate(-200px,95px) rotate(30deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-o{
	position:absolute;
	animation:ani-2-o 2s forwards ease-in-out;
	top:0;
	left:29%;
	
}

@keyframes ani-2-n-1{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-200px,140px) rotate(10deg);
	}
	70%{
		transform: translate(-200px,140px) rotate(10deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-n-1{
	position:absolute;
	animation:ani-2-n-1 2s forwards ease-in-out;
	top:0;
	left:45%;
	
}

@keyframes ani-2-t{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-220px,175px) rotate(-25deg);
	}
	70%{
		transform: translate(-220px,175px) rotate(-25deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-t{
	position:absolute;
	animation:ani-2-t 2s forwards ease-in-out;
	top:0;
	left:62%;
	
}

@keyframes ani-2-e{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(83px,0px) rotate(50deg);
	}
	70%{
		transform: translate(83px,0px) rotate(50deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-e{
	position:absolute;
	animation:ani-2-e 2s forwards ease-in-out;
	top:0;
	left:73%;
	
}

@keyframes ani-2-n-2{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(23px,-35px) rotate(46deg);
	}
	70%{
		transform: translate(23px,-35px) rotate(46deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-n-2{
	position:absolute;
	animation:ani-2-n-2 2s forwards ease-in-out;
	top:0;
	left:85%;
	
}

@keyframes ani-2-d{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(-40px,-85px) rotate(10deg);
	}
	70%{
		transform: translate(-40px,-85px) rotate(10deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-2-d{
	position:absolute;
	animation:ani-2-d 2s forwards ease-in-out;
	top:0;
	left:100%;
	
}

/*developer*/

@keyframes ani-3-d{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(40px,145px) rotate(10deg);
	}
	70%{
		transform: translate(40px,145px) rotate(10deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-d{
	position:absolute;
	animation:ani-3-d 2s forwards ease-in-out;
	top:0;
	left:-20%;
	
}

@keyframes ani-3-e-1{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(40px,165px) rotate(50deg);
	}
	70%{
		transform: translate(40px,165px) rotate(50deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-e-1{
	position:absolute;
	animation:ani-3-e-1 2s forwards ease-in-out;
	top:0;
	left:-5%;
	
}

@keyframes ani-3-v{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(40px,185px) rotate(5deg);
	}
	70%{
		transform: translate(40px,185px) rotate(5deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-v{
	position:absolute;
	animation:ani-3-v 2s forwards ease-in-out;
	top:0;
	left:10%;
	
}

@keyframes ani-3-e-2{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(40px,165px) rotate(120deg);
	}
	70%{
		transform: translate(40px,165px) rotate(120deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-e-2{
	position:absolute;
	animation:ani-3-e-2 2s forwards ease-in-out;
	top:0;
	left:25%;
	
}

@keyframes ani-3-l{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(35px,135px) rotate(-40deg);
	}
	70%{
		transform: translate(35px,135px) rotate(-40deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-l{
	position:absolute;
	animation:ani-3-l 2s forwards ease-in-out;
	top:0;
	left:40%;
	
}

@keyframes ani-3-o{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(35px,115px) rotate(80deg);
	}
	70%{
		transform: translate(35px,115px) rotate(80deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-o{
	position:absolute;
	animation:ani-3-o 2s forwards ease-in-out;
	top:0;
	left:53%;
	
}

@keyframes ani-3-p{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(35px,75px) rotate(-30deg);
	}
	70%{
		transform: translate(35px,75px) rotate(-30deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}

.char-3-p{
	position:absolute;
	animation:ani-3-p 2s forwards ease-in-out;
	top:0;
	left:70%;
	
}

@keyframes ani-3-e-3{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(30px,45px) rotate(-10deg);
	}
	70%{
		transform: translate(30px,45px) rotate(-10deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}
.char-3-e-3{
	position:absolute;
	animation:ani-3-e-3 2s forwards ease-in-out;
	top:0;
	left:85%;
	
}

@keyframes ani-3-r{
	0%{
		transform:translate(0,0);

	}
	30%{
		transform: translate(0.75rem,0px) rotate(-60deg);
	}
	70%{
		transform: translate(0.75rem,0px) rotate(-60deg);
		font-size:3.4375rem;
	}
	80%{transform:translate(0,0);}
	90% {font-size: 4.375rem;}
	100% {font-size: 3.75rem;}
}
.char-3-r{
	position:absolute;
	animation:ani-3-r 2s forwards ease-in-out;
	top:0;
	left:100%;
	
}


.ohnayea{
  position:relative;
}
.frontend{
  position:relative;
  top:50px;
  right:0;
}
.developer{
  position:relative;
  top: 100px;
  right:0;
}

.contact{
	position:relative;
	left:0;
	top:70%;
	font-size: 0.75rem;
}

.contact li{
	padding-top:.5em;
}

.contact a{
	text-decoration: none;
}

/*.git-add,.mail-add,.facebook-add{
	position:relative;
}*/
.contact li span{
	position:relative;
	margin-top: 0.125rem;
	margin-right: 1em	;
	width: 10px;
	height: 10px;
}

.contact li:first-child span{
	margin-top: 0;
}


